@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&family=Playfair+Display%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&display=swap");

.plasmic_tokens {
  --token-DqseNsaLlxXw: 1440px;
  --plasmic-token-container: var(--token-DqseNsaLlxXw);
  --token-GCbjjJSmeUnk: #ffffff;
  --plasmic-token-white: var(--token-GCbjjJSmeUnk);
  --token-yqU-Prdf-lAw: 430px;
  --plasmic-token-height: var(--token-yqU-Prdf-lAw);
  --token-BJu4BHBnwRt2: #000000;
  --plasmic-token-black: var(--token-BJu4BHBnwRt2);
  --token-3gZ7Zc_NjBaq: #be8639;
  --plasmic-token-brown: var(--token-3gZ7Zc_NjBaq);
  --token-TZ-CDggsv7pk: 80px;
  --plasmic-token-h-1: var(--token-TZ-CDggsv7pk);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-5yztE9HorFlF_font-family: "Montserrat", sans-serif;
  --mixin-5yztE9HorFlF_font-size: 16px;
  --mixin-5yztE9HorFlF_font-weight: 400;
  --mixin-5yztE9HorFlF_font-style: normal;
  --mixin-5yztE9HorFlF_color: #535353;
  --mixin-5yztE9HorFlF_text-align: left;
  --mixin-5yztE9HorFlF_line-height: 1.7;
  --mixin-5yztE9HorFlF_letter-spacing: 0.01em;
  --mixin-5yztE9HorFlF_white-space: pre-wrap;
  --mixin-5yztE9HorFlF_user-select: text;
  --mixin-5yztE9HorFlF_text-decoration-line: none;
  --mixin-5yztE9HorFlF_text-overflow: clip;
  --mixin-C7sOuTIVcL4Z_color: var(--token-BJu4BHBnwRt2);
  --mixin-C7sOuTIVcL4Z_font-weight: 400;
  --mixin-C7sOuTIVcL4Z_font-size: var(--token-TZ-CDggsv7pk);
  --mixin-C7sOuTIVcL4Z_line-height: 1.2;
  --mixin-C7sOuTIVcL4Z_letter-spacing: 0px;
  --mixin-C7sOuTIVcL4Z_font-family: "Playfair Display", serif;
  --mixin-C7sOuTIVcL4Z_white-space: pre-wrap;
  --mixin-MVYwe2G_BpAB_color: #000000;
  --mixin-MVYwe2G_BpAB_font-weight: 500;
  --mixin-MVYwe2G_BpAB_font-size: 50px;
  --mixin-MVYwe2G_BpAB_line-height: 1.1;
  --mixin-MVYwe2G_BpAB_letter-spacing: 0px;
  --mixin-MVYwe2G_BpAB_font-family: "Playfair Display", serif;
  --mixin-MVYwe2G_BpAB_white-space: pre-wrap;
  --mixin-fFH5L8zi7l-S_color: #3291ff;
  --mixin-fFH5L8zi7l-S_white-space: pre-wrap;
  --mixin--DDjG6pOLsFS_color: #000000;
  --mixin--DDjG6pOLsFS_font-weight: 600;
  --mixin--DDjG6pOLsFS_font-size: 24px;
  --mixin--DDjG6pOLsFS_line-height: 1.2;
  --mixin--DDjG6pOLsFS_letter-spacing: -0.8px;
  --mixin--DDjG6pOLsFS_font-family: "Montserrat", sans-serif;
  --mixin--DDjG6pOLsFS_white-space: pre-wrap;
  --mixin-K5guHkutbu_c_color: #000000;
  --mixin-K5guHkutbu_c_font-weight: 500;
  --mixin-K5guHkutbu_c_font-size: 24px;
  --mixin-K5guHkutbu_c_line-height: 1.3;
  --mixin-K5guHkutbu_c_letter-spacing: -0.5px;
  --mixin-K5guHkutbu_c_white-space: pre-wrap;
  --mixin-jcTGhJ98A-DE_font-family: "Inconsolata";
  --mixin-jcTGhJ98A-DE_padding-top: 1px;
  --mixin-jcTGhJ98A-DE_padding-right: 4px;
  --mixin-jcTGhJ98A-DE_padding-bottom: 1px;
  --mixin-jcTGhJ98A-DE_padding-left: 4px;
  --mixin-jcTGhJ98A-DE_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-jcTGhJ98A-DE_border-top-color: #dddddd;
  --mixin-jcTGhJ98A-DE_border-top-width: 1px;
  --mixin-jcTGhJ98A-DE_border-top-style: solid;
  --mixin-jcTGhJ98A-DE_border-right-color: #dddddd;
  --mixin-jcTGhJ98A-DE_border-right-width: 1px;
  --mixin-jcTGhJ98A-DE_border-right-style: solid;
  --mixin-jcTGhJ98A-DE_border-bottom-color: #dddddd;
  --mixin-jcTGhJ98A-DE_border-bottom-width: 1px;
  --mixin-jcTGhJ98A-DE_border-bottom-style: solid;
  --mixin-jcTGhJ98A-DE_border-left-color: #dddddd;
  --mixin-jcTGhJ98A-DE_border-left-width: 1px;
  --mixin-jcTGhJ98A-DE_border-left-style: solid;
  --mixin-jcTGhJ98A-DE_border-top-left-radius: 3px;
  --mixin-jcTGhJ98A-DE_border-top-right-radius: 3px;
  --mixin-jcTGhJ98A-DE_border-bottom-right-radius: 3px;
  --mixin-jcTGhJ98A-DE_border-bottom-left-radius: 3px;
  --mixin-jcTGhJ98A-DE_white-space: pre-wrap;
  --mixin-2e5MO8YzL9gC_color: #888888;
  --mixin-2e5MO8YzL9gC_padding-left: 10px;
  --mixin-2e5MO8YzL9gC_border-left-width: 3px;
  --mixin-2e5MO8YzL9gC_border-left-style: solid;
  --mixin-2e5MO8YzL9gC_border-left-color: #dddddd;
  --mixin-2e5MO8YzL9gC_white-space: pre-wrap;
  --mixin-fmEHWjPE0hAq_padding-top: 3px;
  --mixin-fmEHWjPE0hAq_padding-right: 6px;
  --mixin-fmEHWjPE0hAq_padding-bottom: 3px;
  --mixin-fmEHWjPE0hAq_padding-left: 6px;
  --mixin-fmEHWjPE0hAq_font-family: "Inconsolata";
  --mixin-fmEHWjPE0hAq_border-top-left-radius: 3px;
  --mixin-fmEHWjPE0hAq_border-top-right-radius: 3px;
  --mixin-fmEHWjPE0hAq_border-bottom-right-radius: 3px;
  --mixin-fmEHWjPE0hAq_border-bottom-left-radius: 3px;
  --mixin-fmEHWjPE0hAq_border-top-color: #dddddd;
  --mixin-fmEHWjPE0hAq_border-top-width: 1px;
  --mixin-fmEHWjPE0hAq_border-top-style: solid;
  --mixin-fmEHWjPE0hAq_border-right-color: #dddddd;
  --mixin-fmEHWjPE0hAq_border-right-width: 1px;
  --mixin-fmEHWjPE0hAq_border-right-style: solid;
  --mixin-fmEHWjPE0hAq_border-bottom-color: #dddddd;
  --mixin-fmEHWjPE0hAq_border-bottom-width: 1px;
  --mixin-fmEHWjPE0hAq_border-bottom-style: solid;
  --mixin-fmEHWjPE0hAq_border-left-color: #dddddd;
  --mixin-fmEHWjPE0hAq_border-left-width: 1px;
  --mixin-fmEHWjPE0hAq_border-left-style: solid;
  --mixin-fmEHWjPE0hAq_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-fmEHWjPE0hAq_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-U4KtqfuGn2Gp_white-space: pre-wrap;
  --plasmic-mixin-menu-text_white-space: var(--mixin-U4KtqfuGn2Gp_white-space);
  --mixin-CHA2mgGLSyWQ_white-space: pre-wrap;
  --plasmic-mixin-footer-menu_white-space: var(
    --mixin-CHA2mgGLSyWQ_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-5yztE9HorFlF_font-family);
  font-size: var(--mixin-5yztE9HorFlF_font-size);
  font-weight: var(--mixin-5yztE9HorFlF_font-weight);
  font-style: var(--mixin-5yztE9HorFlF_font-style);
  color: var(--mixin-5yztE9HorFlF_color);
  text-align: var(--mixin-5yztE9HorFlF_text-align);
  line-height: var(--mixin-5yztE9HorFlF_line-height);
  letter-spacing: var(--mixin-5yztE9HorFlF_letter-spacing);
  white-space: var(--mixin-5yztE9HorFlF_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-C7sOuTIVcL4Z_color);
  font-weight: var(--mixin-C7sOuTIVcL4Z_font-weight);
  font-size: var(--mixin-C7sOuTIVcL4Z_font-size);
  line-height: var(--mixin-C7sOuTIVcL4Z_line-height);
  letter-spacing: var(--mixin-C7sOuTIVcL4Z_letter-spacing);
  font-family: var(--mixin-C7sOuTIVcL4Z_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-MVYwe2G_BpAB_color);
  font-weight: var(--mixin-MVYwe2G_BpAB_font-weight);
  font-size: var(--mixin-MVYwe2G_BpAB_font-size);
  line-height: var(--mixin-MVYwe2G_BpAB_line-height);
  letter-spacing: var(--mixin-MVYwe2G_BpAB_letter-spacing);
  font-family: var(--mixin-MVYwe2G_BpAB_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-fFH5L8zi7l-S_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin--DDjG6pOLsFS_color);
  font-weight: var(--mixin--DDjG6pOLsFS_font-weight);
  font-size: var(--mixin--DDjG6pOLsFS_font-size);
  line-height: var(--mixin--DDjG6pOLsFS_line-height);
  letter-spacing: var(--mixin--DDjG6pOLsFS_letter-spacing);
  font-family: var(--mixin--DDjG6pOLsFS_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-K5guHkutbu_c_color);
  font-weight: var(--mixin-K5guHkutbu_c_font-weight);
  font-size: var(--mixin-K5guHkutbu_c_font-size);
  line-height: var(--mixin-K5guHkutbu_c_line-height);
  letter-spacing: var(--mixin-K5guHkutbu_c_letter-spacing);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  font-family: var(--mixin-jcTGhJ98A-DE_font-family);
  background: #f8f8f8;
  border-radius: var(--mixin-jcTGhJ98A-DE_border-top-left-radius)
    var(--mixin-jcTGhJ98A-DE_border-top-right-radius)
    var(--mixin-jcTGhJ98A-DE_border-bottom-right-radius)
    var(--mixin-jcTGhJ98A-DE_border-bottom-left-radius);
  padding: var(--mixin-jcTGhJ98A-DE_padding-top)
    var(--mixin-jcTGhJ98A-DE_padding-right)
    var(--mixin-jcTGhJ98A-DE_padding-bottom)
    var(--mixin-jcTGhJ98A-DE_padding-left);
  border-top: var(--mixin-jcTGhJ98A-DE_border-top-width)
    var(--mixin-jcTGhJ98A-DE_border-top-style)
    var(--mixin-jcTGhJ98A-DE_border-top-color);
  border-right: var(--mixin-jcTGhJ98A-DE_border-right-width)
    var(--mixin-jcTGhJ98A-DE_border-right-style)
    var(--mixin-jcTGhJ98A-DE_border-right-color);
  border-bottom: var(--mixin-jcTGhJ98A-DE_border-bottom-width)
    var(--mixin-jcTGhJ98A-DE_border-bottom-style)
    var(--mixin-jcTGhJ98A-DE_border-bottom-color);
  border-left: var(--mixin-jcTGhJ98A-DE_border-left-width)
    var(--mixin-jcTGhJ98A-DE_border-left-style)
    var(--mixin-jcTGhJ98A-DE_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-2e5MO8YzL9gC_color);
  padding-left: var(--mixin-2e5MO8YzL9gC_padding-left);
  border-left: var(--mixin-2e5MO8YzL9gC_border-left-width)
    var(--mixin-2e5MO8YzL9gC_border-left-style)
    var(--mixin-2e5MO8YzL9gC_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  font-family: var(--mixin-fmEHWjPE0hAq_font-family);
  background: #f8f8f8;
  border-radius: var(--mixin-fmEHWjPE0hAq_border-top-left-radius)
    var(--mixin-fmEHWjPE0hAq_border-top-right-radius)
    var(--mixin-fmEHWjPE0hAq_border-bottom-right-radius)
    var(--mixin-fmEHWjPE0hAq_border-bottom-left-radius);
  padding: var(--mixin-fmEHWjPE0hAq_padding-top)
    var(--mixin-fmEHWjPE0hAq_padding-right)
    var(--mixin-fmEHWjPE0hAq_padding-bottom)
    var(--mixin-fmEHWjPE0hAq_padding-left);
  border-top: var(--mixin-fmEHWjPE0hAq_border-top-width)
    var(--mixin-fmEHWjPE0hAq_border-top-style)
    var(--mixin-fmEHWjPE0hAq_border-top-color);
  border-right: var(--mixin-fmEHWjPE0hAq_border-right-width)
    var(--mixin-fmEHWjPE0hAq_border-right-style)
    var(--mixin-fmEHWjPE0hAq_border-right-color);
  border-bottom: var(--mixin-fmEHWjPE0hAq_border-bottom-width)
    var(--mixin-fmEHWjPE0hAq_border-bottom-style)
    var(--mixin-fmEHWjPE0hAq_border-bottom-color);
  border-left: var(--mixin-fmEHWjPE0hAq_border-left-width)
    var(--mixin-fmEHWjPE0hAq_border-left-style)
    var(--mixin-fmEHWjPE0hAq_border-left-color);
}
